.ListContact{
    margin: 0;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
}

.Contact{
    margin: 30px;
    color: black;
}

fieldset{
    color: black;
}
.edit{
    background-color:#2E86C1;
}

.dele{
    background-color:#C0392B;
    margin-left: 5px;
}