* {
    font-family: sans-serif;
    text-decoration: none;
}

.Menu{
    display: flex;
    justify-content: center;
    background-color:#EAECEE;
    
}

.divi{
    width: 5px;
    background-color:#551a8b;
    height: 70px;
    margin: 10px;
}