* {
    font-family: sans-serif;
    text-decoration: none;
}

.Menu{
    display: flex;
    justify-content: center;
    background-color:#EAECEE;
    
}

.divi{
    width: 5px;
    background-color:#551a8b;
    height: 70px;
    margin: 10px;
}

.buttonContatos,
.buttonNovo{
    border: none;
    color: #551a8b;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    border-radius: 5px;
    margin: 10px;
}

input{
    margin-left: 10px;
    width: 200px;
    height: 30px;
    border-radius: 5px;
}

form{
    font-size: 20px;
    margin-left: 40px;
}