.container{
    display: flex;
    align-items: center;
}

.salvar{
    background-color:#551a8b;
    margin-left: 50%;
}

button{
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
}

h1{ 
    color:blanchedalmond;
    display: flex;
    justify-content: center;
    background-color:#551a8b;
    padding: 10px;
    margin: 10px;
}
.container{
    display: flex;
    justify-content: center;
    height: 100%;
}

form{
    font-size: 20px;
    margin: 20px;
}
.NewContact{
    background-color: #D6EAF8 ;
    margin: 20px;
}